<h1 class="text-success display-1 text-center mb-5">
  Edit Task
</h1>

<%= render 'tasks/form', task: @task %>
<br>

<div>
  <h3>
    <%= link_to "Show", @task, class: "p-3 px-5 text-success text-center border border-success rounded my-5" %>
  </h3>
</div>
