<h1>
  Khachatryan Gor
</h1>

<h2>
  Future Rails star!
</h2>
<hr>

<section>
  <h2>
    Key skills
  </h2>

  <ul>
    <li>Ruby on Rails</li>
    <li>Ruby</li>
    <li>JavaScript</li>
  </ul>
</section>

<section>
  <h2>
    About me
  </h2>

  <p>...</p>
</section>
